

.CardContainer{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.fa-solid{
  width: 5rem;height: 5rem;
}

.fa-cart-arrow-down{
    color: rgb(255, 255, 255);
   font-size: 2rem;
   position: fixed;
   top: 0;
   right: 0;
   background-color: rgb(12, 12, 12); 
   
   
   display: flex;
   align-items: center;
    justify-content: center;
}

.numberDisplay2 {
    position: absolute;
    top: 3rem;
    right: 1rem;
    font-size: 1rem;
    color: black;
    background-color: rgb(241, 214, 14);
    padding: 0.2rem 0.3rem;
    border-radius: 50%;
  }

  .totalProductsDisp{
    font-weight: lighter;
    text-align:left ;
    margin-left: 2rem;
  }