.about-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "sign-up main-about-me-my-image"
    "main-about-me main-about-me-my-image"
    "mainFooder mainFooder";
}
  
  .header {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "signature nav";
    grid-area: header;
  }
  
  .signature { grid-area: signature; }
  
  .nav { grid-area: nav; }
  
  .joinMySocialNetworks { grid-area: joinMySocialNetworks; }
  
  .mainAboutme { grid-area: mainAboutme; }
  
  .myimage { grid-area: myimage; }
  
  .mainFooder { grid-area: mainFooder; }
  