@import "colors";
@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body-entrance {
  background: url(../images/IMG_2605.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header-entrance header-entrance"
    "maincontent maincontent"
    "mainFooder mainFooder";
  .header-entrance {
    grid-area: header-entrance;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    h2 {
      text-align: center;
      word-spacing: 2rem;
    }
  }
  .entrance-content {
    grid-area: maincontent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    h1 {
      margin-top: 200px;
      text-align: center;
      font-size: 6rem;
      letter-spacing: 2rem;
    }
    p {
      font-size: 1.5rem;
      margin: 2rem 0;
      word-spacing: 2rem;
    }
    button {
      width: 100px;
      height: 45px;
      border: 3px solid #ffffff;
      color: $color_1;
      background-color: $background-color_1;
      a {
        font-weight: 600;
        letter-spacing: 0.2rem;
        text-decoration: none;
        &:link {
          color: $color_1;
        }
        &:visited {
          color: $color_1;
        }
        &:hover {
          color: $color_1;
        }
        &:active {
          color: $color_1;
        }
      }
    }
  }
}
.entrance-Fooder {
  grid-area: mainFooder;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
  .fa-brands {
    font-size: 1.5rem;
    color: $color_2;
    background-color: $background-color_2;
    text-align: center;
  }
}
.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "maincontent maincontent"
    "mainFooder mainFooder";
}

.header-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "signature nav";
  grid-area: header;
}
.signature {
  grid-area: signature;
  display: flex;
  flex-flow: column;
  padding: 1rem;
}
.nav {
  grid-area: nav;
}
.maincontent {
  grid-area: maincontent;
  background: url(../images/IMG_2499-a.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
}

.mainFooder {
  grid-area: mainFooder;
  display: flex;
}

@import "style-rules";
