@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,100;0,200;0,400;0,600;0,800;1,400&display=swap");
@import "colors";
* {
  font-family: "Ysabeau", sans-serif;
}
.body-entrance {
  font-family: "Ysabeau", sans-serif;
  color: $color_1;
}
.entrance-content {
  h1 {
    font-family: "Comforter", cursive;
    color: $color_1;
    text-shadow: -1px -1px 1px #ffffff1a,
      1px 1px 1px #00000080;
  }
}
.signature {
  h2 {
    font-family: "Comforter", cursive;
    letter-spacing: 0.75rem;
  }
}
